.contacts {
  padding: 48px 16px 48px;
  background-color: $white;

  @media (min-width: $tablet) {
    padding: 64px 32px 64px;
  }
  &__wrapper {
    max-width: $laptop;
    margin: 0 auto;
    @media (min-width: $laptopL) {
      max-width: $laptopL;
    }
  }
  &__line {
    width: 150px;
    margin-bottom: 32px;
    border-bottom: 3px solid $green;
    border-radius: 2px;
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas:
      "office"
      "conference"
      "place";
    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      grid-template-areas:
        "office office"
        "conference place";
    }

    @media (min-width: $laptop) {
      grid-template-columns: repeat(2, minmax(450px, 1fr));
    }
    @media (min-width: $laptopL) {
      grid-template-columns: repeat(3, minmax(300px, 1fr));
      grid-template-areas: "office conference place";
    }
  }
}

.contact {
  margin: 8px auto 16px;
  padding: 8px;
  text-align: center;

  &__grid--office {
    grid-area: office;
  }
  &__grid--conference {
    grid-area: conference;
  }
  &__grid--place {
    grid-area: place;
  }

  &__map {
    height: 300px;
    margin: 0 auto;
    @media (min-width: $tablet) {
      height: 400px;
    }

    @media (min-width: $laptop) {
      width: 450px;
    }
  }
}
