.payment {
  padding: 48px 16px 48px;
  background-color: $gray;
  @media (min-width: $tablet) {
    padding: 64px 32px 64px;
  }
  &__wrapper {
    max-width: $laptop;
    margin: 0 auto;
    @media (min-width: $laptopL) {
      max-width: $laptopL;
    }
  }
  &__line {
    width: 150px;
    margin-bottom: 32px;
    border-bottom: 3px solid $green;
    border-radius: 2px;
  }
}

.details {
  margin: 8px auto 16px;
  padding: 8px;
  text-align: center;
  &__descryption {
    margin: 0;
    padding: 4px;
    line-height: 120%;
  }
  &__line {
    width: 250px;
    margin: 16px auto;
    border-bottom: 3px solid $green;
    border-radius: 2px;
  }
  &__special {
    color: $red;
    font-weight: bold;
    white-space: nowrap;
  }
}
